.card{
    width:30vw;
    height:50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 350px;
    padding:25px;
    border-radius:15px;
    box-shadow: 0px 18px 53px rgba(0,0,0,0.3);
}
.TinderCards__CardContainer{
    display:flex;
    justify-content: center;
    margin: 10vh;
}
.swipe{
    position:absolute;
}
.card h1{
    position: absolute;
    bottom: 0;
    margin:10px;
    color:white;
}